<div class="container container-fluid animated fadeIn fast">
  <h2>NOSOTROS</h2>
  <article class='nosotros'>
    <div class="imagen">
      <img src="../../../assets/img/artem-beliaikin-yeFPQ7IdDfE-unsplash.jpg" alt="Imagen de un perro raza beagle">
    </div>
    <p class="texto">
      Sit facilis eos recusandae fugit quis. Praesentium hic quia dolorum maxime aliquid fugit velit odit Suscipit ratione debitis dolor sequi animi Natus eligendi cupiditate ratione incidunt ipsa! Doloremque magnam repellendus.
      Dolor cum delectus omnis asperiores ab placeat! Minus voluptate ad quos dolorum quasi Cum vitae nam nesciunt vitae nemo! Magni vitae nesciunt doloribus adipisci neque? Dolor sed sunt voluptates minima saepe, maxime. Voluptas nemo voluptatum voluptates facere aperiam voluptatibus consequuntur blanditiis cum? Adipisci dolore impedit commodi tempora omnis Animi dolorem.
    </p>
  </article>
  <article class='quienesSomos'>
    <div class="porQueNosotros">
    <h2>Quienes Somos</h2>
    <div class="imagen">
      <img src="../../../assets/img/michael-kucharski-RdjkLCIqemg-unsplash.jpg" alt="Imagen de un perro cachorro">
    </div>
    <h3>
      Consectetur sapiente omnis deserunt qui impedit. Tempore vitae iure obcaecati.
    </h3>
    <p class="texto">
      Suscipit ratione debitis dolor sequi animi Natus eligendi cupiditate ratione incidunt ipsa! Doloremque magnam repellendus. Sit facilis eos recusandae fugit quis. Praesentium hic quia dolorum maxime aliquid fugit velit odit 
      </p>
      <p class="texto">
      Dolor cum delectus omnis asperiores ab placeat! Minus voluptate ad quos dolorum quasi Cum vitae nam nesciunt vitae nemo! Magni vitae nesciunt doloribus adipisci neque? Dolor sed sunt voluptates minima saepe, maxime. Voluptas nemo voluptatum voluptates facere aperiam voluptatibus consequuntur blanditiis cum? Adipisci dolore impedit commodi tempora omnis Animi dolorem.
    </p>
    </div>
    <div class="habilidades">
      <h2>Por que nosotros?</h2>
      <ul>
        <h4><i class="fas fa-arrow-right"></i> Consectetur explicabo tempore veritatis?</h4>
        <li>
          <p>Adipisicing sed sed nostrum repudiandae dolorem neque. Odit sit lorem libero alias corporis recusandae! Deserunt in dolore recusandae aliquid dolorem laborum inventore in, sint animi Repellendus at quisquam!</p>
        </li>
        <li>
          <h4><i class="fas fa-arrow-right"></i> Lorem esse similique sequi.</h4>
          <p>Ipsum at officia iusto hic consequatur voluptate Recusandae soluta suscipit dignissimos possimus ratione voluptate Rem esse magnam accusamus et quasi Eius veritatis esse eaque ea quo Beatae totam.</p>
        </li>
        <li>
          <h4><i class="fas fa-arrow-right"></i> Amet velit doloribus nisi.</h4>
          <p>Lorem esse iste reiciendis quis omnis Quos nulla ut repellendus asperiores aspernatur Repudiandae similique beatae dolores molestiae eveniet. Facere et illum consectetur consequuntur unde. Consequuntur voluptatibus dolore adipisci!</p>
        </li>
        <li>
          <h4><i class="fas fa-arrow-right"></i> Elit quod dolor velit?</h4>
          <p>Dolor voluptatem voluptate error maxime voluptates amet Repudiandae consectetur itaque saepe hic assumenda Tempore modi consequuntur officia illo tempora Voluptatibus nihil vitae quisquam facere delectus? Ducimus voluptatem ipsa</p>
        </li>
        <li>
          <h4><i class="fas fa-arrow-right"></i> Elit omnis natus sint.</h4>
          <p>Adipisicing quasi eius id exercitationem iste ab? Animi quaerat consectetur ullam aliquam facere. Nihil dolor voluptate soluta voluptates ipsum incidunt ut adipisci? Nemo consequuntur eveniet omnis ab nam</p>
        </li>
      </ul>
    </div>
    
  </article>
</div>
