<div class="container mt-4">
  <h2> Comentarios </h2>
  <div class="card my-5" style="max-width: 500px;">
  <div class="row no-gutters">
    <div class="col-4">
      <img src="../../../assets/img/undraw_male_avatar_323b.svg" class="img-thumbnail" alt="...">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">Juanito Perez</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <div class="btn btn-warning">Responder...</div>
      </div>
    </div>
  </div>
</div>
