<div class="jumbotron container animated fadeIn fast">
  <h1 class="display-4">404, Lo siento no existe esa pagina!</h1>
  <p class="lead">De todas formas aqui te dejo un boton para que puedas volver al inicio.</p>
  <hr class="my-4">
  <div class="fondo">
  <a class="btn btn-danger col-12 mb-4" routerLink="/home" role="button">Regresar</a>
    <img class="img-fluid" src="../../../assets/img/ayla-verschueren-bpkBLrotO28-unsplash.jpg" alt="Perro recostado sobre sillon amarillo.">
  </div>
</div>
