<div class="footer container-fluid">
  <div class="informacion">
    <ul>
      <h3>Informacion</h3>
      <li>Contacto </li>
      <li>Terminos y condiciones</li>
      <li>Acerca de las cookies</li>
    </ul>
  </div>
  <div class="Categorias">
      <h3>Secciones</h3>
    <ul>
      <li><a routerLink="home" routerLinkActive="active">HOME</a> </li>
      <li><a routerLinkActive='active' routerLink="about">NOSOTROS</a></li>
      <li><a routerLinkActive="active" routerLink="servicios">MASCOTAS</a></li>
      <li><a routerLinkActive="active" routerLink="blog">BLOG</a></li>
      <li><a routerLinkActive="active" routerLink="contacto">CONTACTO</a></li>
    </ul>
  </div>
  <div class="MiCuenta">
    <ul>
      <h3>Mi Cuenta</h3>
      <li>Tu cuenta </li>
      <li>Informacion personal</li>
      <li>Precios</li>
    </ul>
  </div>
  <div class="redes">
      <h3>Redes Sociales</h3>
      <div class="redesLogos">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google"></i>
        <i class="fab fa-pinterest"></i>
      </div>
  </div>
</div>
<div class="allRights">
  &copy; {{ fecha | date: 'yyyy' }} Mascotas Exchange. ALL RIGHTS RESERVED | Desarrollado por Marco Antonio Islas Duran.
</div>
